@import "~bootstrap";
@import "main";


html, body {
    font-weight: 200 !important;
    font-family: 'Gilroy-Light', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Gilroy-Bold', sans-serif;
}
.principe-item {
    font-size: 26px;
}
