@import url('http://fonts.cdnfonts.com/css/gilroy-bold');


.image {
    width: 55px;
}
.h1-about {
    position: relative;
    left: 250px;
    bottom: 162px;
}
.image-logo {

        width: 200px;
        position: relative;
        top: 40px;
        left: 146px;
}

.map {
    width: 700px;
}

.icons {
    max-width: 50px;
}

.content {
    margin-bottom: 30px;
}

p {
    font-size: 20px;
}

.about-oil{
    position: relative;
    right: 10px;
}


.breadcrumbs {
    font-size: 25px;
}

@media (max-width: 2500px) {
    .active {
        font-size: 20px;
    }
    .text-about {

        font-size: 26px;
    }
    .about {
        position: relative;
        top: 115px;
        left: 130px;
        z-index: 10;
    }
    .fon {
        position: relative;
        top: 0;
        left: 100px;
        z-index: 0;
        margin-top: -110px;
    }
}

@media (max-width: 1980px) {
    .about {
        position: relative;
        top: 138px;
        left: 179px;
        z-index: 10;
    }
    .fon {
        position: relative;
        top: 40px;
        left: 75px;
        z-index: 0;
        margin-top: -110px;
    }
}

@media (max-width: 991px) {
    .active {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    .text-about {
        width: 60%;
        font-size: 16px;
    }
    .fon {
        margin-top: -100px;
        left: 150px;
    }

    .about {
        top: 75px;
        left: 60px;
    }
}

@media (max-width: 768px) {
    .fon {
        margin-top: -100px;
        left: 105px;
    }

    .about {
        top: 30px;
        left: -29px;
    }
}

@media (max-width: 600px) {
    .fon {
        margin-top: -100px;
        left: 105px;
    }

    .about {
        top: 48px;
        left: 16px;
    }
}

@media (max-width: 500px) {
    .text-about {
        width: 69%;
    }
    .fon {
        margin-top: -100px;
        left: 105px;
    }

    .about {
        top: 48px;
        left: 16px;
    }
}

@media (max-width: 435px) {
    .text-about {
        width: 76%;
    }
    .fon {
        margin-top: -50px;
        left: 47px;
    }

    .about {
        top: 48px;
        left: 16px;
    }
}

@media (max-width: 400px) {
    .text-about {
        width: 76%;
    }
    .fon {
        margin-top: -43px;
        left: 38px;
    }

    .about {
        top: 48px;
        left: 16px;
    }


    .h1-about {
        position: relative;
        left: 20px;
        bottom: 50px;
    }

    .image-logo {
        width: 200px;
        position: relative;
        top: 0;
        left: 0;
    }


}


