html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer{
  height: 50px;
}
.values_block {max-width: 300px;}

.values-header {font-weight: 700;font-size: 18px;}

@media(min-width: 500px){
	.system-image.bg-system-image {position: relative;}
	.system-image.bg-system-image img {position: relative;bottom: 95px; right: 60px}
}